<!DOCTYPE html>
<html>
  <head>
    <title>CSfE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--  ページに応じてヘッダーに表示する内容変更する方法を調査したい-->
    <%= yield %>
  </body>
</html>
